#container{
    width: 1050px;
    margin: 0 auto;
}

#header{
    height: 150px;
    padding: 10px 0;
}

#brand{
    float: left;
}

#SearchBox{
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 60px;
    padding: 30px 20px 0 20px;
    margin-top: 40px;
}

#menu{
    height: 60px;
    background: linear-gradient(#F8F594, #D5D533);
    padding: 10px 0;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid black;
    line-height: 30px;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease; 
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 25px;
    font-weight: bold;
    color: #B314DB;
}

#menu-list{
    list-style: none;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

.text{
    float: left;
    width: 250px;
    padding: 5px;
    font-size: 14px;
    color: #E36A0C;
    background: white url(images/search.png) right no-repeat;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 14px;
}
.clear{
    clear: both;
}

#introduction {
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0px;
}

#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;    
}

#introduction p{
    font-size: 25px;
    color: #789450;
    text-align: justify;
}
