#container{
    width: 1050px;
    border: 1px solid grey;
    margin: 0 auto;
}

#header{
    height: 150px;
    padding: 10px 0;
}

#brand{
    float: left;
}

#SearchBox{
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 60px;
    padding: 30px 20px 0 20px;
    margin-top: 40px;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

ul{
    list-style:none;
}


.text{
    float: left;
    width: 250px;
    padding: 5px;
    font-size: 14px;
    color: #E36A0C;
    background: white url(images/search.png) right no-repeat;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 14px;
}
.clear{
    clear: both;
}

